@model  WorkEverything.ViewModel.User.UserModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutHomeShop.cshtml";
}



<div class="login">
    <div class="wrap">
        <div class="col_1_of_login span_1_of_login">
            <h4 class="title">New Customers</h4>
            <h5 class="sub_title">Register Account</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</p>
            <div class="button1">
                <a href="register.html"><input type="submit" name="Submit" value="Continue"></a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col_1_of_login span_1_of_login">
            <div class="login-title">
                <h4 class="title">Registered Customers</h4>
                <div class="comments-area">
                    @using (Html.BeginForm("RequestLogin", "User", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <form>
                            <p>
                                <label>Name</label>
                                <span>*</span>
                                @Html.TextBoxFor(model => model.userName, new { @class = "input", @placeholder = "Tên Đăng Nhập" })
                                @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                            </p>
                            <p>
                                <label>Password</label>
                                <span>*</span>
                                @Html.PasswordFor(model => model.passWord, new { @class = "input", @placeholder = "Mật Khẩu" })
                                @Html.ValidationMessageFor(model => model.passWord, "", new { @class = "text-danger" })
                            </p>
                            <p id="login-form-remember">
                              
                            </p>
                            <p>
                                <input type="submit" value="Login">
                            </p>
                        </form>
                    }
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>


